@import 'equalizer';
@import 'styles';
@import 'titles';
@import 'tech';
@import 'navbar';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');


body {
  font-family: 'Roboto';
}

.center-content {
  padding-top: 90px;
  margin-left: 30px;
}
