.wolox-footer {
  margin-top: 40px;
  background-color: $blue;
  height: 125px;
  padding: 10px;
  width: 100%;
}

.footer-logo {
  display:block;
  height: 40px;
  margin: 15px auto;
}

.slogan {
  color: white;
  display: block;
  font-size: $text-big;
  margin: 15px auto;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .slogan {
    font-size: $text-medium;
  };

  .footer-logo {
    height: 35px;
  }
}
