.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: $white;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 1;
  -webkit-box-shadow: 0px 6px 27px -7px $box-shadow-color;
  -moz-box-shadow: 0px 6px 27px -7px $box-shadow-color;
  box-shadow: 0px 6px 27px -7px $box-shadow-color;
}

.developer-tools {
  margin: 10px;
  font-size: $text-big;
}

.wlogo {
  height: 30px;
  padding-left: 10px;
}
