.navbar {
  background-color: white;
  height: 70px;
  position:fixed;
  width: 100%;
  z-index: 1;
  -webkit-box-shadow: 0px 6px 27px -7px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 6px 27px -7px rgba(0,0,0,0.55);
  box-shadow: 0px 6px 27px -7px rgba(0,0,0,0.55);
}

.developer-tools {
  float:right;
  font-size: $text-big;
  margin: 20px 20px auto 10px;
}

.wlogo {
  margin: 20px 10px auto 10px;
  height: 30px;
}
