.navbar {
  background-color: $white;
  height: 70px;
  position:fixed;
  width: 100%;
  z-index: 1;
  -webkit-box-shadow: 0px 6px 27px -7px $box-shadow-color;
  -moz-box-shadow: 0px 6px 27px -7px $box-shadow-color;
  box-shadow: 0px 6px 27px -7px $box-shadow-color;
}

.developer-tools {
  float:right;
  font-size: $text-big;
  margin: 20px 20px auto 10px;
}

.wlogo {
  margin: 20px auto 10px;
  height: 30px;
  padding-left: 10px;
}

@media only screen and (max-width: $width-breakpoint) {
  .developer-tools {
    display: none;
  }
}
