.tech {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 18px;
  max-height: 100%;
  width: 192px;
  max-width: 100%;
  padding: 5px 27px 2px 16px;
  position: relative;
  text-align: center;
}

.tech-logo{
  display: block;
  margin: 5px auto 5px auto;
  width: 100px;
  max-width: 100%;
}

.tech-title {
  margin-top: 10px;
}

.tech-text {
  margin-top: 15px;
  font-size: $text-small;
  width: 100%;
}

.tech-set {
  display: grid;
  grid-template-columns: 60px auto;
  margin: auto;
  padding-left: 50px;
  width: 100%;
}
