.tech {
  background-color: $green;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 18px;
  max-height: 100%;
  width: 192px;
  max-width: 100%;
  padding: 5px 25px 2px 16px;
  position: relative;
  text-align: center;

   &::before {
    content: '';
    border: 2px solid $green;
    border-radius: inherit;
    height: inherit;
    position: absolute;
    left: -10px;
    top: -10px;
    width: inherit;
    z-index: -1;
  }
}

.tech:hover:before {
  transition: left 0.5s ease, top 0.5s ease;
  left: 6px;
  top: 6px;
}

.tech-logo{
  display: block;
  margin: 5px auto 5px auto;
  height: 100px;
  width: 100px;
  max-width: 100%;
}

.tech-title {
  margin-top: 10px;
}

.tech-text {
  margin-top: 15px;
  font-size: $text-small;
  width: 100%;
}

.tech-set {
  display: flex;
  width: 100%;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 50px;
}
