.tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
  padding: 5px 27px 2px 16px;
  position: relative;
  text-align: center;
  width: 192px;
}

.tech-logo{
  display: block;
  margin: 5px auto 5px auto;
  height: 100px;
  width: 100px;
  max-width: 100%;
}

.tech-title {
  margin-top: 10px;
}

.tech-text {
  margin-top: 15px;
  font-size: $text-small;
  width: 100%;
}

.tech-set {
  display: grid;
  grid-template-columns: 220px 220px 220px;
  grid-template-rows: 320px 320px;
  justify-content: center;
  margin: auto;
  padding-left: 50px;
  width: 100%;

}

.highlighted-tech {
  border-right: 2px solid $green;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: strech;
}
