$tile-decoration-height: 90px;
$title-decoration-width: 70px;

.title {
  color:black;
  font-size: $text-big;
  margin: 10px;
  padding-bottom: 35px;
  padding-top: 35px;
  padding-left: 45px;

  &::before {
    content:'';
    background: url(assets/images/triangle.svg);
    background-repeat: no-repeat;
    display: block;
    height: $tile-decoration-height;
    margin: 10px 15px;
    padding-top: 15px;
    width: $title-decoration-width;
    position: absolute;
    top: 0;
    left: 18px;
    z-index:-1;
  }
}
