$tile-decoration-height: 90px;
$title-decoration-width: 70px;

.title {
  background: url(assets/images/triangle.svg);
  background-repeat: no-repeat;
  background-size: $title-decoration-width $tile-decoration-height;
  color:black;
  font-size: $text-big;
  margin: 30px 10px 10px 10px;
  padding-top: 35px;
  padding-bottom: 30px;
  padding-left: 52px;
}
