@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["HomePage"];
    ViewData["Welcome"] = Localizer["Welcome"];
}


<h2>@ViewData["Welcome"]</h2>
